name: landcover-mapping
channels:
    - conda-forge
    - pytorch
dependencies:
    - python=3.7
    - dataclasses # only introduced in python 3.7
    - earthengine-api
    - mypy=0.931
    - black
    - pandas
    - xarray=0.17.0
    - netcdf4
    - rasterio
    - jupyter
    - matplotlib
    - pip
    - cpuonly
    - pytorch=1.6.0
    - pyproj
    - tqdm
    - geopandas
    - cartopy
    - scikit-learn
    - dvc=1.11.16
    - flake8
    - google-cloud-storage
    - python-dotenv
    - pip:
          - pytorch-lightning==0.7.1 # lots of API changes
          - wandb
          - cropharvest==0.3.0
