earthengine-api
mypy==0.931
black
pandas
xarray==0.17.0
netcdf4
rasterio
matplotlib
pyproj
tqdm
geopandas
cartopy
scikit-learn
flake8
google-cloud-storage
python-dotenv
pytorch-lightning==0.7.1 # lots of API changes
wandb
cropharvest==0.4.1
types-requests
types-python-dateutil
openmapflow[data]==0.2.1rc2
dvc[gs]