name: Deploy

on:
  push:
    branches: [ master ]
    paths: 'data/models.dvc'

jobs:
  deploy: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: pip install openmapflow==0.2.1rc2 'dvc[gs]'
    - uses: google-github-actions/auth@v0
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}
    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v0
    - uses: iterative/setup-dvc@v1
    - name: Get latest models
      run: dvc pull data/models -f
    - name: Deploy Google Cloud Architecture
      run: openmapflow deploy
      


