name: Build 

on:
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: self-hosted
    env:
      CONDA_ENV: /gpfs/data1/cmongp1/izvonkov/envs/landcover-mapping/bin
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v2
      with:
          clean: false
    - name: Run type checks
      run: $CONDA_ENV/mypy .
    - name: Run flake8
      run: $CONDA_ENV/flake8 .
    - name: Run unit tests
      run: $CONDA_ENV/python -m unittest
    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@master
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true     
    - name: dvc pull models
      run: $CONDA_ENV/dvc pull data/models -f      
    - name: Get data for integration test
      run: |
        $CONDA_ENV/dvc pull data/features -f
        $CONDA_ENV/dvc pull data/processed -f
        $CONDA_ENV/dvc pull data/compressed_features.tar.gz -f
        tar -xvzf data/compressed_features.tar.gz
    - name: Integration test - Data integrity
      run: $CONDA_ENV/python -m unittest test/integration_test_labeled.py
    - name: Integration test - Model bboxes match evaluation sets
      run: $CONDA_ENV/python -m unittest test/integration_test_model_bbox.py
    - name: Integration test - Model results are consistent
      run: $CONDA_ENV/python -m unittest test/integration_test_model_evaluation.py

   


