name: Test

on:
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v2
    - name: Set up python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: pip install -r requirements.txt
    - name: Run type checks
      run: mypy .
    - name: Run flake8
      run: flake8 .
    - name: Run unit tests
      run: python -m unittest
    - uses: google-github-actions/auth@v0
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}
    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v0
    - name: dvc pull data
      run: dvc pull -f

    - name: Integration test - Project
      run: |
        openmapflow cp templates/integration_test_project.py .
        python -m unittest integration_test_project.py

    - name: Integration test - Data integrity
      run: |
        openmapflow cp templates/integration_test_datasets.py .
        python -m unittest integration_test_datasets.py

    - name: Integration test - Train and evaluate
      run: |
        openmapflow cp templates/integration_test_train_evaluate.py .
        python -m unittest integration_test_train_evaluate.py

    - name: Integration test - Model bboxes match evaluation sets
      run: python -m unittest test/integration_test_model_bbox.py
      
    - name: Integration test - Model results are consistent
      run: python -m unittest test/integration_test_model_evaluation.py

    - name: Integration test - Area
      run: python -m unittest test/integration_test_area.py

   


